<!DOCTYPE html>
<html>

<head>
    <title>About</title>
      <link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>3eela kbeera betheb ba3daha walahy kolaha 3azmanen w bete3mel wagebat<p>
    <img class="portrait" src="img/0.jpg">
</p>
    </p>
    </div>
    {{>footer}}

</body>


</html>